#wrapper {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: space-between;
    width: 1440px;
}

#center {
    display: flex;
    flex-direction: column;
    width: 910px;
    align-items: center;
}

#right {
    width: 440px;
    background-color: aqua;
}

#left {
    width: 90px;
    height: 870px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left_above {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#below {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item {
    width: 32px;
    margin-top: 50px;
}

#setting {
    margin-top: 36px;
}

#center_header {
    display: flex;
    flex-direction: column;
}

#line1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 830px;
}

#title {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 20px 0 20px 0;
}

#record_border {
    padding-right: 50px;
}

#line2 {
    display: flex;
    flex-direction: row;
}

#img_big {
    position: relative;
    margin: 30px 0 30px 0;
    width: 830px;
    height: 460px;
}

#name_meeting {
    position: absolute;
}